# Private data
obsidian/
Signal/
Slack/
fish/fish_history
fish/fish_variables
cava/
fish/conf.d/
fish/functions/
gh/
gurk/
keepmenu/
libreoffice/
ncspot/
obs-studio/logs/
obs-studio/global.ini
obs-studio/profile_data/
obs-studio/plugin_config/
obs-studio/safe_mode
obs-studio/updates/
BraveSoftware/
kwalletrc

omf/
zoom.zonf
zoomus.conf
# Hardware-specific
pulse/
systemd/
kdeconnect/
keepassxc/
Ladybird/

# State and cache
dconf/
theme_state
.DS_Store
**/cache/
**/Cache/

# Media and large files
obs-studio/recordings/
*.mp4
*.mkv
*.log

# Application data that changes frequently
nautilus/
mimeapps.list
QtProject.conf
lock.sh.xessionfail
nvim/Neovim_CheatSheet.md
nvim/lazy-lock.json
qt5ct/
sxhkd/cheatsheet.md
sxhkd/sxhkdrc.bak
wtf/log.txt
zoom.conf
